@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #32302f;
        --color-text: #ebdbb2;
    }
    a {
        color: #99f296;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #ebdbb2;
        --color-fg: #32302f;
    }
    a {
        color: #68a566;
    }
}

@font-face {
    font-family: "DM Sans";
    src: url("./resource/DMSans-Regular.ttf") format("truetype");
}

:root {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: "DM Sans", sans-serif;
}

.ipa {
    text-decoration: none;
    font-family: sans-serif;
}

header {
    margin-top: 1.33em;
    display: flex;
    gap: 0.33em;
    align-items: baseline;
}

header * {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    padding: 0;
}

content {
    text-align: justify;
    display: inline-block;
    max-width: 50em;
    margin: 0 auto;
}

a:visited {
    color: #477246;
    opacity: 5%;
}

/*
button {
    --border-width: 2pt;

    margin: 0;
    padding: 0.4rem;
    border: var(--border-width) solid var(--color-layer-border);
    border-radius: 4pt;
}

.horizontal-container.coalesced-children :first-of-type:not(:only-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: calc(var(--border-width) / 2);
}

.horizontal-container.coalesced-children :last-of-type:not(:only-of-type) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: calc(var(--border-width) / 2);
}

button.active {
    border-bottom-color: var(--color-highlight);
}
*/
