@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #32302f;
        --color-text: #ebdbb2;
    }
    a {
        color: #99f296;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #ebdbb2;
        --color-fg: #32302f;
    }
    a {
        color: #68a566;
    }
}

@font-face {
    font-family: "DM Sans";
    src: url("./resource/DMSans-Regular.ttf") format("truetype");
}

:root {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: "DM Sans", sans-serif;
}

.ipa {
    text-decoration: none;
    font-family: sans-serif;
}

header {
    margin-top: 1.33em;
    display: flex;
    gap: 0.33em;
    align-items: baseline;
}

header * {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    padding: 0;
}

content {
    text-align: justify;
    display: inline-block;
    max-width: 50em;
    margin: 0 0.5em;
}

a:visited {
    color: #477246;
    opacity: 5%;
}
