@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #32302f;
        --color-text: #ebdbb2;
    }
    a {
        color: #99f296;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #ebdbb2;
        --color-fg: #32302f;
    }
    a {
        color: #68a566;
    }
}

@font-face {
    font-family: "DM Sans";
    src: url("./resource/DMSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Charis";
    src: url("./resource/Charis-Regular.woff2") format("woff2");
}

:root {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: "DM Sans", sans-serif;
}

.ipa {
    text-decoration: none;
    font-family: "Charis", serif;
}

mark {
    background-color: #568b5533;
    color: inherit;
}

header {
    margin-top: 1.33em;

    justify-content: space-between;

    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.title {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;

    flex-grow: 1;
}

header * {
    margin: 0;
    white-space: nowrap;
    max-width: fit-content;
}

body {
    display: flex;
    align-items: center;
    padding: 0;
}

content {
    text-align: justify;
    display: inline-block;
    max-width: 50em;
    min-width: 0em;
    margin: 0 auto;
    padding: 0.5em;
}

a:visited {
    color: #568b55;
    opacity: 50%;
}

a:hover {
    color: #568b55;
    opacity: 50%;
}
